html {
  height: 100%;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-color: #fdfdfc;
  background-size: cover;
  color: #415867;
  padding-bottom: 3rem;
}

div.greeting {
  font-size: 3em;
  line-height: 1em;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  margin: 20px !important;
}

.greeting span {
  font-weight: 600;
}

.timeDateDisplay {
  text-align: right;
}

.timeDateDisplay h2,
.timeDateDisplay h6 {
  margin-right: 20px;
}
